{{- if eq .Type "posts" }}
{{- $related := where (site.RegularPages.Related .) "Type" "posts" | first 4 }}
{{- with $related }}
<section class="related-stories">
    <h2>{{ i18n "related_stories" | default "Related stories" }}</h2>
    <ul>
        {{- range . }}
        <li>
            <a class="related-story" href="{{ .RelPermalink }}">
                {{- partial "cover.html" (dict "cxt" . "IsSingle" false "isHidden" false) }}
                <span class="related-story-title">{{ .Title }}</span>
            </a>
        </li>
        {{- end }}
    </ul>
</section>
{{- end }}
{{- end -}}
