{{- if eq .Type "posts" }}
{{- $id := .File.TranslationBaseName }}
{{- $rel := printf "audio/%s/%s.mp3" .Lang $id }}
{{- $local := printf "static/%s" $rel }}
{{- $src := "" }}
{{- if os.FileExists $local }}
    {{- $src = $rel | relURL }}
{{- else if .Params.audio }}
    {{- $src = .Params.audio | relURL }}
{{- else if site.Params.audioBaseURL }}
    {{- $src = printf "%s/%s/%s.mp3" (strings.TrimSuffix site.Params.audioBaseURL "/") .Lang $id }}
{{- end }}
{{- if $src }}
<section id="ghesedoon-story-audio" class="story-audio{{ if eq .Lang "en" }} en-premium-audio{{ end }}"{{ if eq .Lang "en" }} style="display: none;"{{ end }} aria-label="{{ i18n "listen_story" | default "Listen to the story" }}">
    <p class="story-audio-label">{{ i18n "listen_story" | default "Listen to the story" }}</p>
    <audio controls preload="metadata" src="{{ $src }}">
        <a href="{{ $src }}">{{ i18n "listen_story" | default "Listen to the story" }}</a>
    </audio>
</section>
{{- end }}
{{- end -}}
